<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
</head>
<body>

{% if null_form %}
<form action="/projects" method="post" id="projects_form">
    {{ null_form.as_table }}
  <input type="button" value="Submit" id="projects_sub">
</form>
{% endif %}

<div id="receivers-area">

</div>

{#{% if receivers %}#}
{#    Receiver List:#}
{#    <form action="/projects" method="post">#}
{#    {% for receiver in receviers %}#}
{#        {{ receiver.as_table }}#}
{#    {% endfor %}#}
{#        <input type="submit" value="Submit">#}
{#    </form>#}
{#{% endif %}#}

{#{{ receiver.as_table }}#}

Project List:
<table>
    <tr><td>Name</td><td>Address</td><td>Description</td><td># of individuals</td><td>Target Amount</td><td>Amount Received</td><td>Total Received</td></tr>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.address }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.headcount }}</td>
            <td>{{ project.target }}</td>
            <td>{{ project.received_pool }}</td>
            <td>{{ project.received_total }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>