<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css"/>
        <title>Sign-in</title>
	</head>
	<body>
        <div class="right-area">
            <div class="login-tip" style="padding-bottom: 20px">
                <span class="tip-gray">Don't have an account yet? </span>
                <a class="btn btn-warning" style="width: 120px; height: 30px; color: white" href = "{% url 'register' %}">Donate Now!</a>
            </div>
            <div class="login-area">
                <p class="form_title">Sign-in</p>
                <hr/>
                <p class="errmsg-area">{{ errmsg }}</p>
                <form onsubmit="return isNull_login(this)" method="post" action="{% url 'login_api' %}">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" name="name" id="id_name" placeholder="Your user ID"
                                   autofocus="autofocus" required="required" oninput="setCustomValidity('')">
                        </div>
                    </div>
{#                    <input type="hidden" name="next" value="{{ next }}" />#}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id ="id_userpassword"
                                   placeholder="Your password" required="required">
                        </div>
                    </div>
{#                    <input type="hidden" name="next" value="{{ next }}" />#}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Sign-in</button>
                    </div>
                    <div class="form-group">
                        <label for="remember_me" class="remember_style"><input type="checkbox" id="remember_me" class="checkbox-style">Remember me</label>
                    </div>
                </form>
            </div>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
{#        <script src="{% static 'user/js/jquery.cookie.js' %}"></script>#}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login_regist.js' %}"></script>
	</body>
</html>